/* @import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap"); */

.box {
  background: rgba(255, 255, 255, 0.5);
  font-family: "monospace";
  padding: 5px;
}

html, body {
  margin: 0;
}